@media (max-width: 1050px) {
  header {
    padding-top: 45px;
    margin-bottom: 45px;
  }

  .main-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 0.4fr 0.3fr;
    gap: 30px;
    margin-bottom: 80px;
  }

  .web3-img {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
  }

  .main-heading {
    margin: 5px 0 15px;
  }

  h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
  }

  .main-text-box {
    margin: 5px 0 15px;
  }

  .button {
    margin-top: 25px;
  }

  .section-new {
    grid-column: 2;
    grid-row: 3 / 6;
    padding: 20px 20px;
  }

  .new-heading-box {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 36px;
  }

  .popular-item {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  header {
    padding-top: 35px;
    margin-bottom: 35px;
  }
  .small-hero {
    display: block;
  }

  .big-hero {
    display: none;
  }

  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.4fr 0.3fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .web3-img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }

  .main-heading {
    margin: 0px 0 0px;
  }

  .main-text-box {
    grid-column: 1;
    grid-row: 3;
    margin: -15px 0 15px;
  }

  .section-new {
    grid-column: 1;
    grid-row: 4;
  }

  .popular-item img {
    width: 25%;
  }

    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }
  
    .main-nav {
      background-color: rgb(253, 242, 233, .7);
      position: absolute;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      transform: translateX(100%);
  
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;
  
      /* 1) Hide it visually */
      opacity: 0;
  
      /* 2) Make it unaccesible to mouse and keyboard */
      pointer-events: none;
  
      /* 3) Hide it from screen readers */
      visibility: hidden;
    }
  
    .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(20%);
    }
  
    .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
    }
  
    .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
    }
  
    .main-nav-list {
      flex-direction: column;
      gap: 3.2rem;
    }
  
    .main-nav-link:link,
    .main-nav-link:visited {
      font-size: 2rem;
    }
  }
}
